@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
.site-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 86px;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    padding-left: 95px;
    padding-right: 95px;
}
.dasteen{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.blog{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 300px;
}
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 50px;
    margin: 0;
    padding: 0;
    align-items: center;
}
.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    position: relative;
}
.nav-menu li img{
    padding-right: 10px;
}
.button_coffee{
    width: 213px;
    height: 44px;
    border-radius: 4px;
    background: #6246EA;
    border: none;
    padding: 10px 17px;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;

}