@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Plus Jakarta Sans, sans-serif;
    width: 100vw;
}

.header{
    height: 86px;
    padding: 22px 95px 20px 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: relative;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}
ul a{
    color: #2B2C34;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
}
.active_coffee{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #6246EA;
    padding: 10px 17px;
    color: #FFFFFE;
}
ul a img{
    padding-right: 10px;
}
.dasteen{
    padding: 150px 95px 20px 95px;
    background: #EFF0F3;

}
